.title {
  margin-bottom: 20px;

  &-input {
    @include text-style(16, $secondary);
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:active {
      background-color: $background;
      border-radius: 4px;
    }

    &.is-active {
      font-weight: 700;
      @include text-style(18, $primary);
    }
  }

  @include responsive(T) {
    &-input {
      @include text-style(18);

      &.is-active {
        @include text-style(24, $primary);
      }

      &:hover {
        background-color: $background;
        border-radius: 4px;
      }
    }
  }
}
