.iframe {
  position: relative;
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;

  > div {
    width: 100%;
    padding-bottom: 56.25%;
  }

  &-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $youtube-iframe-level;
    width: 100%;
    height: 100%;
  }
}
