.emoji-wrapper {
  $chose-button-size: 80px;

  position: relative;

  .chose-button,
  .emoji-button {
    padding: 8px;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out;

    &:active {
      background-color: $blue-light;
    }
  }

  .chose-button {
    width: $chose-button-size;
    height: $chose-button-size;
    font-size: 48px;
  }

  .emoji-list {
    @include flexbox(start);
    position: absolute;
    top: $chose-button-size;
    left: 0;
    padding: 4px;
    background-color: $white;
    border: 1px solid $border;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    box-shadow: $dropdown-shadow;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out,
      visibility 200ms ease-in-out;

    .emoji-item {
      .emoji-button {
        @include text-style(18);

        &:active {
          background-color: $blue-light;
        }
      }
    }
  }

  &.is-open {
    .emoji-list {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 10px, 0);
    }
  }

  @include responsive(T) {
    .chose-button,
    .emoji-button {
      &:hover {
        background-color: $blue-light;
      }
    }
  }
}
