.global-header {
  @include flexbox(start);
  height: 50px;
  background-color: $white;
  border-bottom: 1px solid $border;

  .container {
    @include flexbox(center);

    .row {
      @include flexbox;
      position: relative;
      width: 100%;
    }
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    img {
      display: block;
    }
  }

  .page-title {
    @include text-style(16, $secondary);
    display: inline-block;
    width: 160px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.is-active {
      color: $primary;
    }
  }

  @include responsive(T) {
    .page-title {
      @include text-style(18);
    }
  }
}
